<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ολοκλήρωση Συναλλαγής</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Manrope', sans-serif !important;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
<table cellspacing="0" border="0" cellpadding="0" width="100%">
    <tr>
        <td>
            <table style="max-width:870px;  margin:0 auto;" width="100%" border="0"
                   align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                               style="max-width:670px;background: #FCFCFC;
                                box-shadow: 0.869231px 3.47692px 37.3769px -7.82308px rgba(80, 67, 199, 0.2);
                                border-radius: 26.0769px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);padding: 0 2em 0 3em;">
                            <tr>
                                <td style="height:40px;">Η συναλλαγή ολοκληρώθηκε με Αναγνωριστικό Συναλλαγής/Παραστατικού: {compTransactionUdc}</td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
